{% extends 'base.html' %}

{% block title %}Crear Nuevo Socio{% endblock %}

{% block content %}
<h2>Crear Nuevo Socio</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit"
        style="background-color: #4CAF50; color: white; padding: 0.5rem 1rem; border: none; cursor: pointer;">
        Guardar
    </button>
</form>
<a href="{% url 'lista_socios' %}" style="margin-top: 1rem; display: inline-block; color: blue;">Regresar a la lista de
    socios</a>
{% endblock %}